<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<title>Project Name Team</title>
	</head>

	<body>
		<nav class="teal darken-4">
			<div class="container valign-wrapper">
				<h1 class="brand-logo center">Project Name Team</h1>
			</div>
		</nav>
		<div class="container center">
			<div class="row">
				<div class="col">
					<div class="card teal darken-1">
						<div class="card-content white-text">
							<span class="card-title">Manager Name</span>
							<p>Role: Manager</p>
							<p>Email: Email Address</p>
							<p>Office Number: ###</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card teal">
						<div class="card-content white-text">
							<span class="card-title">Engineer Name</span>
							<p>Role: Engineer</p>
							<p>Email: Email Address</p>
							<p>GitHub: GitHub username</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card teal lighten-1">
						<div class="card-content white-text">
							<span class="card-title">Intern Name</span>
							<p>Role: Intern</p>
							<p>Email: Email Address</p>
							<p>School: School Name</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>